<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Camilo Santivañez"/>
        <title>Agregar Actividad</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0"/>
        <link rel="stylesheet" href="../css/agregar_actividad.css">
        <script src="{{ url_for('static', filename='js/select.js') }} " defer></script>  
        <script src="{{ url_for('static', filename='js/socials.js') }}" defer></script>   
        <script src="{{ url_for('static', filename='js/validation.js') }}" defer></script>  
    </head>
    <body>
        <h1>Informar Actividad</h1>
        <div class="main_container">
            <div id="val-box" hidden>
                <h2 id="val-msg"></h2>
                <ul id="val-list"></ul>
            </div>
            <form name="informar_actividad" method="post" enctype="multipart/form-data">
                
                <h2>¿Dónde?</h2>
                
                <label for="select-region">Región</label>
                <select name="select-region" id="select-region" required>
                    <option value="">Seleccione una Región</option>
                </select><br>

                <label for="select-comuna">Comuna</label>
                <select name="select-comuna" id="select-comuna" required>
                    <option value="">Seleccione una Comuna</option>
                </select><br>

                <label for="sector">Sector</label>
                <input type="text" name="sector" id="sector" maxlength="100"><br>

                <hr>

                <h2>¿Quién organiza?</h2>

                <label for="nombre-organizador">Nombre</label>
                <input type="text" name="nombre_organizador" id="nombre_organizador" maxlength="200" required><br>

                <label for="email-organizador">Email</label>
                <input type="text" name="email-organizador" id="email-organizador" maxlength="100" required><br>

                <label for="celu-organizador">Número de celular</label>
                <input type="text" name="celu-organizador" id="celu-organizador"><br>

                <label for="medio-contacto">Contactar por</label>
                    <div class="container-medio-contacto">
                        <input type="checkbox" name="whatsapp" onclick="revisaCheck(this);"> WhatsApp
                        <input id="whatsapp" type="text" name="whatsapp-id" style="display:none;" minlength="4" maxlength="50"> <br>
                        <input type="checkbox" name="instagram" onclick="revisaCheck(this);"> Instagram
                        <input id="instagram" type="text" name="instagram-id" style="display:none;" minlength="4" maxlength="50"><br>
                        <input type="checkbox" name="telegram" onclick="revisaCheck(this);"> Telegram
                        <input id="telegram" type="text" name="telegram-id" style="display:none;" minlength="4" maxlength="50"><br>
                        <input type="checkbox" name="x" onclick="revisaCheck(this);"> X
                        <input id="x" type="text" name="x-id" style="display:none;" minlength="4" maxlength="50"><br>
                        <input type="checkbox" name="tiktok" onclick="revisaCheck(this);"> TikTok
                        <input id="tiktok" type="text" name="tiktok-id" style="display:none;" minlength="4" maxlength="50"><br>
                    </div>
                
                <hr>

                <h2>¿Cuándo y de qué trata?</h2>

                <label for="dia-hora-inicio">Dia hora inicio</label>
                <input type="datetime-local" name="dia-hora-inicio" id="dia-hora-inicio" required><br>

                <label for="dia-hora-termino">Dia hora término</label>
                <input type="datetime-local" name="dia-hora-termino" id="dia-hora-termino" required><br>

                <label for="descripcion-actividad">Descripción</label><br>
                <textarea name="descripcion-actividad" id="descripcion-actividad" rows="10" cols="50"></textarea><br>

                <label for="tema">Tema</label><br>
                <input type="checkbox" name="musica" onclick="revisaCheckTema(this);">Música
                <input type="checkbox" name="deportes" onclick="revisaCheckTema(this);">Deportes
                <input type="checkbox" name="ciencias" onclick="revisaCheckTema(this);">Ciencias
                <input type="checkbox" name="religion" onclick="revisaCheckTema(this);">Religión
                <input type="checkbox" name="politica" onclick="revisaCheckTema(this);">Política
                <input type="checkbox" name="tecnología" onclick="revisaCheckTema(this);">Tecnología
                <input type="checkbox" name="juegos" onclick="revisaCheckTema(this);">Juegos
                <input type="checkbox" name="baile" onclick="revisaCheckTema(this);">Baile
                <input type="checkbox" name="comida" onclick="revisaCheckTema(this);">Comida
                <input type="checkbox" name="otro" onclick="revisaCheckTema(this);">Otro
                <input id="otro-id" type="text" name="otro" style="display:none;" maxlength="15" minlength="3"> <br>

                <label for="foto">Subir Foto </label> 
                <input type="file" id="foto1" name="foto1" accept="image/png, image/jpeg" onclick="subirFoto(this);"/ required>
                <input type="file" id="foto2" name="foto2" accept="image/png, image/jpeg" onclick="subirFoto(this);"/ style="display: none;"><br>
                <input type="file" id="foto3" name="foto3" accept="image/png, image/jpeg" onclick="subirFoto(this);"/ style="display: none;"><br>
                <input type="file" id="foto4" name="foto4" accept="image/png, image/jpeg" onclick="subirFoto(this);"/ style="display: none;"><br>
                <input type="file" id="foto5" name="foto5" accept="image/png, image/jpeg" onclick="subirFoto(this);"/ style="display: none;"><br>

                <button id="submit-btn" type="button">Agregar esta actividad</button>
            </form>

        </div>

    </body>
</html>