{% extends "base.html" %}
{% block title %}Listado de Actividades{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listado_style.css') }}"> 
    <script src="{{ url_for('static', filename='js/listado_script.js') }}" defer></script> 
{% endblock %}
{% block content %}
    <h1>Listado de Actividades</h1>
    <div class="main-container">
        <table id="tabla">
            <thead>
              <tr>
                <th>Inicio</th>
                <th>Término</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Tema</th>
                <th>Nombre Organizador</th>
                <th>Total Fotos</th>
              </tr>
            </thead>
            <tbody id="cuerpo-tabla">
              <!-- Se llena con JavaScript -->
            </tbody>
          </table>
          <div id="detalle">
            <h2>Detalle de la Actividad</h2>
            <ul id="detalle-lista"></ul>
            <div class="botones">
              <a href="#" onclick="volverListado()">Volver al listado</a>
              <a href="{{url_for('index')}}">Volver a la portada</a>
            </div>
          </div>
    </div>
{% endblock %}